/*Globals*/

body {
    color: #333;
    font-family: sans-serif, "Raleway","Helvetica Neue";
    font-weight: normal;
    font-size: 16px;
    line-height: 1.625;
    background-color: #f1f1f1;
}

a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    color: #06c;
    text-decoration: underline;
}

header {
    background-color: #fff;
}

.page-title {
    margin-left: .77em;
    padding-bottom: .5em;
}

.simple-page-title {
    margin-left: .6em;
    padding-bottom: .5em;
}

.container-correction {
    padding-left: 3em !important;
    padding-right: 3em !important;
}

/* Top Nav */
.top-nav {
    height: 3em;
    background-color: #002B55 !important;
    border:none;
    border-radius: 0;
}

.top-nav li a{
    color: #fff !important;
    text-transform: uppercase;
}

/* Logo Site Title*/
#logo-title {
    height: 7em;
}

#logo-title .site-title a {
    color: #333;
    font-weight:normal;
}

#logo-title .site-title a:hover {
    color: #06c;
    text-decoration: underline !important;
}

/* Main Nav */
.navbar-default {
    background-color: inherit;
}

.navbar-container {
    margin-bottom: 0em !important;
}

#primary-navigation ul.nav-pills {
    text-transform: uppercase;
    font-size: 15px;
}

nav.navbar:nth-child(3) {
    box-shadow: 0px 8px 8px -12px black;
}

.nav li a {
    color: #333;
}

.nav li a:hover {
    background-color: #fff;
    color: #06c;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #06c;
    background-color: #fff;
}

/* Main Content */
.container {
    background-color: #fff;
    padding: 1.33em;
    border-radius: 4px;
    margin-bottom: 1em;
}

/* Browse Items */
.browse-items-header {
    padding: 1em 0;
    border-bottom: 1px solid #eee;
}

#sort-links-list {
    list-style: none;
    padding: 0;
}

.item-row:hover {
    background-color: #eee;
}

.item-row {
    padding: 2em 0;
}

/* Browse Collection and Browse Exhibition */
.browse-collections, .browse-exhibitions {
    padding: 0em 1.5em;
}

.collection-title, .exhibition-title {
    margin-bottom: .5em;
}

.collection-info, .exhibition-info {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.collection-row, .exhibition-row {
    padding: 0 1em;
}

.collection-row:hover, .exhibition-row:hover {
    background-color: #eee;
}
/* Tag Cloud */
.hTagcloud {margin-top: 2em;}

.hTagcloud ul {
    list-style:none;
    margin: 5px 15px 15px 20px;
    padding: 1em;
    line-height:2.2em;
    border: #eee solid 1px;
    font: inherit;
}
.hTagcloud li {
    display:inline;
    margin-right:8px;
    background-image:none;
    margin-left:0;
    padding-left:0;
    margin: 1.5em;
}

.popular {font-size:100%;}
.v-popular {font-size:110%;}
.vv-popular {font-size:120%;}
.vvv-popular {font-size:130%;}
.vvvv-popular {font-size:140%;}
.vvvvv-popular {font-size:150%;}
.vvvvvv-popular {font-size:160%;}
.vvvvvvv-popular {font-size:170%;}
.vvvvvvvv-popular {font-size:180%;}

/* Item Search */
#search-narrow-by-fields .label {
    color: #333;
}

#search-narrow-by-fields .inputs .search-entry div {
    margin-bottom: 1em;
}

.inputs {
    margin-bottom: 1em;
}

.search-page ul{
    float: none !important;
}

/* Item Show */
.item-title {
    margin-bottom: 1.25em;
}

.element-set {
    margin-top: 1.25em;
}

@media only screen and (max-width: 768px) {
    .img-height img {
        float: none !important;
    }
}

/* Collection Show*/
.collection-element-text {
    padding: 1.25em 2.25em 0;
}

/* Exhibition Summary */
#exhibit-nav-next:hover {
    background-color: #ddd;
}

.exhibition-title {
    margin-bottom: 1em;
}

.exhibition-tree-title {
    margin: 0 0 1em 1em;
}

.exhibit-item-caption {
    font-size:inherit;
}

#exhibit-pages ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

#exhibit-pages li {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

#exhibit-pages li:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

#exhibit-pages li:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

#exhibit-pages li:hover {
    background-color: #eee;
}
/* Simple Page */
.simple-page-content {
    padding: 1.25em 2.25em 0;
}


/* Footer */
footer, footer .container {
    background-color: #002B55;
    color: #fff;
}

footer .container h4 {
    text-transform: uppercase;
}

.footer-link .col-sm-11 {
    border-bottom: 1px solid #fff;
    padding: 2em 0;
}

.footer-link .foot-col-title {
    border-bottom: 1px solid #fff;
    padding: .5em 0;
}

.footer-link a {
    color: #fff;
}

.footer-link #copyright {
    padding: 1em 0;
}

.footer-link #footer-info-links {
    padding: 1em 2em;
}


/* Images */
img {
    max-width: 100%;
}

.img-center {
    margin: 0 auto;
}

